.single-container1{
    
    background-color: #FFF2E4;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:20px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.p-tag-location{
    margin-top: 0px;
    font-size: 13px;
}
.justnow{
    font-size: 10px;
}

@media (max-width: 380px) {
    /* For extra-small screens (portrait phones) */

    .single-container1{
        font-size: 9px;
        padding: 10px;
    }
    .p-tag-location{
        margin-top: 0px;
        font-size: 8px;
    }
    .justnow{
        font-size: 8px;
    }
    .img-container{
        width: 80px;
        height:80px
    }
    .layer-img{
        width: 5px,
        
    }
    
  }